.header-area {
    background-image: url("Assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display:flex;
    list-style: none;
    align-items: center;
}

.nav-item {
    padding: 10px;
}
.cta {
    padding: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    font-size: 4em;
}

.code-imgs {
    width: 100%;
}

.info-container {
    display: flex;
    border: 2px solid red;
    align-items: center;
    justify-content: center;
}
